{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "globals": {
    "__DEV__": true
  },
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "indent": ["error", 2],
    "no-useless-constructor": 0,
    "linebreak-style": [
      2,
      "unix"
    ],
    "quotes": [
      2,
      "single"
    ],
    "semi": [
      2,
      "never"
    ],
     "max-len": [1, 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": false
    }]
  }
}